# build output
dist/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/analytics/*

# environment variables
.env
.env.production
*.local

# testing output
playwright-report/
playwright/.cache/
test-results/
tests_output/
blob-report/
tests-examples/
cypress/
tmp/

.DS_Store
.yarn/
bun.lockb

# prisma
prisma/dev.db*
dev.db*

/data/
bin/__py*
**/*.bk*

# experimental
nightwatch.conf.cjs
logs/test/
src/content/blog/draft/
