/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/* @import "./base.css"; */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  /* --gray-light: 229, 233, 240; */
  --gray-dark: 34, 41, 57;
  /* --gray-gradient: rgba(var(--gray-light), 50%), #fff; */
  --box-shadow: 0 2px 6px rgba(var(--theme-bg-gray), 25%),
    0 8px 24px rgba(#ffffff, 33%), 0 16px 32px rgba(#ffffff, 33%);
  --bg-theme-primary: #fff;
  /* --code-callout-bg: rgba(var(--bg-gray-600), 100%); */
  /* */
  --horizontal-padding: 1rem;
  --content-max-width: 80rem;
  --nav-height: 5rem;
  --footer-height: 5rem; /*243px*/
  --footer-margin-top: 2.5rem;
  --total-footer-height: calc(var(--footer-height) + var(--footer-margin-top));
  --vert-padding: 1rem;

  --primary: hexToRgb(theme(colors.orange.500));
  --primary-hover: hexToRgb(theme(colors.orange.600));
  --on-primary: hexToRgb(theme(colors.stone.800));
  /* --background: hexToRgb(theme(colors.stone.100)); */
  --background: hexToRgb(theme(colors.white));
  --on-background: hexToRgb(theme(colors.stone.800));
  --surface: hexToRgb(theme(colors.stone.200));
  --hover: hexToRgb(theme(colors.stone.300));
  --disabled: var(--background);
  --on-disabled: hexToRgb(theme(colors.stone.400));
  --divider: hexToRgb(theme(colors.stone.500));
  --shadow: hexToRgb(theme(colors.stone.600));
  --note: hexToRgb(theme(colors.blue.600));
  --warn: hexToRgb(theme(colors.red.600));
  color-scheme: light;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .card {
    @apply rounded bg-[var(--surface)] shadow-sm shadow-[var(--shadow)];
  }

  .card-none {
    @apply bg-background rounded-none shadow-none;
  }

  .grid-cols-layout > * {
    @apply col-content;
  }
}

@layer utilities {
  .full-bleed {
    @apply -mx-horizontal-padding;
  }
}

[data-preload] {
  transition: none !important;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Atkinson", sans-serif;
  /* font-family: "Source Sans Pro", sans-serif; */
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* color: rgb(var(--gray-dark)); */
  font-size: 1.25rem;
  line-height: 1.7;
  @apply /* */ m-0 flex h-full
    flex-col bg-red-100 p-0 text-left text-theme-text-primary;
  @apply bg-purple-50;
}

main {
  @apply grid grid-cols-layout px-3 py-6;
}
dialog.welcome {
  p {
    font-family: "Inter", sans-serif; /*Regular_wght1C20000*/
  }
}
@font-face {
  font-family: "iMWritingMono Nerd Font";
  src: url("fonts/iMWritingMonoNerdFont-Italic.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply subpixel-antialiased;
  /* font-family: Inter, sans-serif; Inter-Regular_Black*/
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  @apply text-fuchsia-300 text-theme-primary underline
    decoration-theme-dark-primary/0 decoration-2 underline-offset-2 subpixel-antialiased
    transition-colors duration-100 ease-in-out dark:text-theme-dark-primary;
}
a:hover {
  @apply text-theme-primary decoration-theme-primary decoration-2 dark:text-theme-dark-primary dark:decoration-theme-dark-primary/100;
}
p {
  @apply subpixel-antialiased;
  margin-bottom: 1em;
}
.prose {
  @apply prose-slate max-w-none dark:prose-invert lg:prose-lg;
  /* light:prose-slate dark:prose-dark */
  /* Size Modifiers: https://github.com/tailwindlabs/tailwindcss-typography#size-modifiers */
  /* Color Themes: https://github.com/tailwindlabs/tailwindcss-typography#color-modifiers */
}
.prose code {
  &::before {
    content: "";
  }
  &::after {
    content: "";
  }
}
.prose p {
  @apply max-w-prose;
}
/* .prose p.mb-0 { */
/*   margin-bottom: 0; */
/* } */
/* .prose p.mb-1 { */
/*   margin-bottom: 1em; */
/* } */
/* .prose .mb-0 p { */
/*   margin-bottom: 0em; */
/* } */
/* .prose .mb-1 p { */
/*   margin-bottom: 1em; */
/* } */
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  @apply rounded-md border bg-theme-bg-gray px-1 text-sm
  dark:border-theme-accent-gray-dark dark:bg-theme-dark-background;
  /* background-color: rgb(var(--gray-light)); */
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  @apply my-4 border border-t border-slate-200 p-0;
}
@media (max-width: 720px) {
  body {
    @apply bg-theme-bg-secondary;
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* .tags { */
/*   width: 720px; */
/*   max-width: calc(100% - 2em); */
/*   text-align: center; */
/* } */

.bg-theme-primary {
  background-color: var(--bg-theme-primary);
}
.emdash {
  @apply mx-1 px-1 italic text-theme-bg-gray;
}
