/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/* @import "./base.css"; */
/* @import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght@-15,885&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,MONO@385,0.5&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,885,0..1,0..1,1&display=swap'); */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-dark: 34, 41, 57;
  --box-shadow: 0 2px 6px rgba(var(--bg-gray), 25%),
    0 8px 24px rgba(#ffffff, 33%), 0 16px 32px rgba(#ffffff, 33%);
  --bg-primary: #fff;
  --horizontal-padding: 1rem;
  --content-max-width: 80rem;
  --nav-height: 5rem;
  --footer-height: 5rem;
  /*243px*/
  --footer-margin-top: 2.5rem;
  --total-footer-height: calc(var(--footer-height) + var(--footer-margin-top));
  --vert-padding: 1rem;
  --surface: var(--gray);

  --primary: rgb(34, 41, 57);
  --on-primary: oklch(94.72% 0.03 308.97);
  --background: oklch(0.988281 0.0046875 300);
  /* --on-background: hexToRgb(theme(colors.stone.800)); */
  --on-background: var(--primary);
  --disabled: var(--background);
  --shadow: theme(colors.stone.600);

  --bright-blue: oklch(51.01% .274 263.83);
  --indigo-blue: oklch(51.64% .229 281.65);
  --electric-violet: oklch(53.18% .28 296.97);
  --french-violet: oklch(47.66% .246 305.88);
  --vivid-pink: oklch(69.02% .277 332.77);
  --hot-pink: oklch(59.91% .239 8.14);
  --hot-red: oklch(61.42% .238 15.34);
  --orange-red: oklch(63.32% .24 31.68);
  --super-green: oklch(79.12% .257 155.13);
  --subtle-purple: color-mix(in srgb, var(--bright-blue) 5%, white 10%);
  --light-blue: color-mix(in srgb, var(--bright-blue), white 50%);
  --light-violet: color-mix(in srgb, var(--electric-violet), white 65%);
  --light-orange: color-mix(in srgb, var(--orange-red), white 50%);
  --light-pink: color-mix(in srgb, var(--vivid-pink) 10%, white 80%);
  --subtle-purple: color-mix(in srgb, var(--bright-blue) 5%, white 10%);
  --light-blue: color-mix(in srgb, var(--bright-blue), white 50%);
  --light-violet: color-mix(in srgb, var(--electric-violet), white 65%);
  --light-orange: color-mix(in srgb, var(--orange-red), white 50%);
  --light-pink: color-mix(in srgb, var(--vivid-pink) 10%, white 80%);
  --symbolic-purple: oklch(42.86% .29 266.4);
  --symbolic-gray: oklch(66.98% 0 0);
  --symbolic-blue: oklch(42.45% .223 263.38);
  --symbolic-pink: oklch(63.67% .254 13.47);
  --symbolic-orange: oklch(64.73% .23769984683784018 33.18328352127882);
  --symbolic-yellow: oklch(78.09% .163 65.69);
  --symbolic-green: oklch(67.83% .229 142.73);
  --symbolic-cyan: oklch(67.05% .1205924489987394 181.34025902203868);
  --symbolic-magenta: oklch(51.74% .25453048882711515 315.26261625862725);
  --symbolic-teal: oklch(57.59% .083 230.58);
  --symbolic-brown: oklch(49.06% .128 46.41);
  --symbolic-lime: oklch(70.33% .2078857836035299 135.66843631046476);
  --pink-to-highlight-to-purple-to-blue-horizontal-gradient:
    --gray-1000: oklch(16.93% .004 285.95);
  --gray-900: oklch(19.37% .006 300.98);
  --gray-800: oklch(25.16% .008 308.11);
  --gray-700: oklch(36.98% .014 302.71);
  --gray-600: oklch(44% .019 306.08);
  --gray-500: oklch(54.84% .023 304.99);
  --gray-400: oklch(70.9% .015 304.04);
  --gray-300: oklch(84.01% .009 308.34);
  --gray-200: oklch(91.75% .004 301.42);
  --gray-100: oklch(97.12% .002 325.59);
  --gray-50: oklch(98.81% 0 0);
  --red-to-pink-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 11.42%, var(--hot-red) 34.83%, var(--vivid-pink) 60.69%);
  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg, var(--orange-red) 0%, var(--vivid-pink) 50%, var(--electric-violet) 100%);
  --pink-to-highlight-to-purple-to-blue-horizontal-gradient: linear-gradient(140deg, var(--vivid-pink) 0%, var(--vivid-pink) 15%, color-mix(in srgb, var(--vivid-pink), var(--electric-violet) 50%) 25%, color-mix(in srgb, var(--vivid-pink), var(--electric-violet) 10%) 35%, color-mix(in srgb, var(--vivid-pink), var(--orange-red) 50%) 42%, color-mix(in srgb, var(--vivid-pink), var(--orange-red) 50%) 44%, color-mix(in srgb, var(--vivid-pink), var(--page-background) 70%) 47%, var(--electric-violet) 48%, var(--bright-blue) 60%);
  --purple-to-blue-horizontal-gradient: linear-gradient(90deg, var(--electric-violet) 0%, var(--bright-blue) 100%);
  --purple-to-blue-vertical-gradient: linear-gradient(0deg, var(--electric-violet) 0%, var(--bright-blue) 100%);
  --red-to-orange-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 0%, var(--orange-red) 100%);
  --red-to-orange-vertical-gradient: linear-gradient(0deg, var(--hot-pink) 0%, var(--orange-red) 100%);
  --pink-to-purple-horizontal-gradient: linear-gradient(90deg, var(--vivid-pink) 0%, var(--electric-violet) 100%);
  --pink-to-purple-vertical-gradient: linear-gradient(0deg, var(--electric-violet) 0%, var(--vivid-pink) 100%);
  --purple-to-light-purple-vertical-gradient: linear-gradient(0deg, var(--french-violet) 0%, var(--light-violet) 100%);
  --green-to-cyan-vertical-gradient: linear-gradient(0deg, var(--symbolic-cyan) 0%, var(--super-green) 100%);
  --blue-to-teal-vertical-gradient: linear-gradient(0deg, var(--bright-blue) 0%, var(--light-blue) 100%);
  --blue-to-cyan-vertical-gradient: linear-gradient(0deg, var(--bright-blue) 0%, var(--symbolic-cyan) 100%);
  --black-to-gray-vertical-gradient: linear-gradient(0deg, var(--primary-contrast) 0%, var(--gray-400) 100%);
  --red-to-pink-vertical-gradient: linear-gradient(0deg, var(--hot-red) 0%, var(--vivid-pink) 100%);
  --orange-to-pink-vertical-gradient: linear-gradient(0deg, var(--vivid-pink) 0%, var(--light-orange) 100%);
  --page-bg-radial-gradient: radial-gradient(circle, white 0%, white 100%);
  --soft-pink-radial-gradient: radial-gradient(circle at center bottom, var(--light-pink) 0%, white 80%);
}

@tailwind base;
@tailwind utilities;
@tailwind components;

.prose {
  --tw-prose-headings: var(--primary);
}

@layer components {
  .card {
    @apply rounded bg-[var(--surface)] shadow-sm shadow-[var(--shadow)];
  }

  .card-none {
    @apply bg-background rounded-none shadow-none;
  }

  .grid-cols-layout>* {
    @apply col-content;
  }
}

@layer utilities {
  .full-bleed {
    @apply -mx-horizontal-padding;
  }
}

[data-preload] {
  transition: none !important;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }

  10% {
    transform: rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Atkinson", sans-serif;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.25rem;
  line-height: 1.7;
  @apply m-0 flex h-full flex-col p-0 text-left text-text-primary bg-purple-50;
}

main {
  @apply grid grid-cols-layout px-3 py-6;
}

dialog.welcome {
  p {
    font-family: "Inter", sans-serif;
  }
}

@font-face {
  font-family: "iMWritingMono Nerd Font";
  src: url("fonts/iMWritingMonoNerdFont-Italic.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply subpixel-antialiased;
  /* font-family: Inter, sans-serif; Inter-Regular_Black*/
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  @apply text-fuchsia-300 text-primary underline decoration-dark-primary/0 decoration-2 underline-offset-2 subpixel-antialiased transition-colors duration-100 ease-in-out;
}

a:hover {
  @apply text-primary decoration-primary decoration-2;
}

p {
  @apply subpixel-antialiased;
  margin-bottom: 1em;
}

.prose {
  @apply prose-slate max-w-none dark:prose-invert lg:prose-lg;
  /* light:prose-slate dark:prose-dark */
  /* Size Modifiers: https://github.com/tailwindlabs/tailwindcss-typography#size-modifiers */
  /* Color Themes: https://github.com/tailwindlabs/tailwindcss-typography#color-modifiers */
}

.prose code {
  &::before {
    content: "";
  }

  &::after {
    content: "";
  }
}

.prose p {
  @apply max-w-prose;
}

/* .prose p.mb-0 { */
/*   margin-bottom: 0; */
/* } */
/* .prose p.mb-1 { */
/*   margin-bottom: 1em; */
/* } */
/* .prose .mb-0 p { */
/*   margin-bottom: 0em; */
/* } */
/* .prose .mb-1 p { */
/*   margin-bottom: 1em; */
/* } */
textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  @apply rounded-md border bg-bg-gray px-1 text-sm;
  /* background-color: rgb(var(--gray-light)); */
}

pre {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  padding: 1.5em;
  border-radius: 8px;
  /* font-family: 'Recursive', monospace; */
  /* font-size: 1.125em; */
  /* --mono: 1; */
  /* --casl: 0; */
  /* --wght: 884; */
  /* --slnt: 1; */
  /* font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV); */
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}

hr {
  @apply my-4 border border-t border-slate-200 p-0;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* .tags { */
/*   width: 720px; */
/*   max-width: calc(100% - 2em); */
/*   text-align: center; */
/* } */

.bg-primary {
  background-color: var(--bg-primary);
}

.emdash {
  @apply mx-1 px-1 italic text-bg-gray;
}
