/** shaku **/
.shaku > .code-container > code {
  background: rgb(33,33,33);
}
.shaku-callout {
  @apply bg-gray-600 text-white antialiased px-2 py-[1ch] my-2 relative inline-block
    text-amethyst-200 italic;
  /* font-family: 'Comic Mono', sans-serif; */
  font-family: 'iMWritingMono Nerd Font', 'Comic Mono', monospace;
}

.shaku-callout p {
  @apply bg-gray-600;
  margin: 0;
}
.shaku-underline p {
  margin: 0;
}

.shaku-callout a {
  color: #fff;
  text-decoration: underline;
}

.shaku-callout-arrow {
  @apply bg-gray-600;
  width: 1ch;
  height: 1ch;
  display: inline-block;
  position: absolute;
  top: -0.5ch;
  transform: rotate(45deg);
  top: -5px;
}

.shaku-underline {
  padding: 0 1ch;
  position: relative;
  display: block;
  border-radius: 3px;
  color: #ce6f71;
  margin: 0;
  width: min-content;
}

@media (prefers-color-scheme: dark) {
  .shaku-underline {
    color: rgb(222, 66, 66);
  }
}

.shaku-underline-line {
  line-height: 0;
  top: 0.5em;
  position: absolute;
  text-decoration-line: overline;
  text-decoration-color: #ce6f71;
  color: transparent;
  pointer-events: none;
  user-select: none;
  text-decoration-thickness: 2px;
}

@media (prefers-color-scheme: dark) {
  .shaku-underline-line {
    text-decoration-color: rgb(222, 66, 66);
  }
}

.shaku-underline-wavy > .shaku-underline-line {
  text-decoration-style: wavy;
  top: 0.7em;
}

.shaku-underline-solid > .shaku-underline-line {
  text-decoration-style: solid;
}

.shaku-underline-dotted > .shaku-underline-line {
  text-decoration-style: dotted;
}
