---
import TagList from "$/components/TagList.astro";
import Layout from "$/layouts/Layout.astro";
import { unique } from "$/util/array";
import { Icon } from "astro-icon/components";
import { type CollectionEntry, getCollection } from "astro:content";
import { getTags } from "$/services/blog";

// const blogPosts: CollectionEntry<"blog">[] = await getCollection("blog");
// const filteredPosts = blogPosts.filter((post) => !post.data.draft);
// const data = filteredPosts.map((post) => post.data.tags);
// const allTags = unique(data.flat());
const allTags = await getTags();
---

<Layout>
  <TagList tags={allTags}>
    <Fragment slot="header">
      <h5>
        <Icon name="tabler/tags" class="inline relative top-[-0.1ch]" />Tags
      </h5>
    </Fragment>
  </TagList>
</Layout>
