---
import { Image } from "astro:assets";
import Prose from "../components/Prose.astro";
import image from "../content/blog/assets/blog-placeholder-about.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex flex-col w-full space-between">
    <div class="flex justify-center">
      <h5 class="mt-2">About</h5>
    </div>

    <Prose>
      <div class="flex gap-4 justify-center mb-4">
        <div class="flex h-24">
          <Image
            src={image}
            alt="Astro logo, until I get a proper image."
            class="hidden object-contain m-0 w-auto h-auto sm:block not-prose mt-[1.666rem]"
          />
        </div>
        <div>
          <p class="mt-0 h-auto sm:h-24">
            I'm a software engineer based in Clearwater FL who specializes in
            Ruby on Rails and React/Typescript development. I have been working
            with Ruby on Rails for nearly 10 years, and React for over 5.
          </p>
          <div class="not-prose">
            <b>Links</b>
            <ul
              class="m-0 ml-0 list-disc p-0 pl-0 indent-0 [&_li]:m-0 [&_li]:p-0"
            >
              <li>
                <a href="https://github.com/aaronlifton">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/aaronlifton/">LinkedIn</a>
              </li>
              <li>Email: aaronlifton [at] gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </Prose>
  </div>
</Layout>
<style>
ul {
  @apply m-0 list-disc pl-4;
}
</style>
