---
import { Image } from "astro:assets";
import Prose from "../components/Prose.astro";
import image from "../content/blog/assets/blog-placeholder-about.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex flex-col w-full space-between">
    <div class="text-center">
      <h5 class="m-0">About Me</h5>
    </div>

    <Prose>
      <div
        class="flex flex-col gap-4 justify-center items-start mb-4 w-full align-middle sm:flex-row sm:w-auto space-evenly"
      >
        <div class="flex justify-center w-full sm:justify-start sm:w-auto">
          <Image
            src={image}
            alt="Astro logo, until I get a proper image."
            width={128}
            height={128}
            class="m-0"
          />
        </div>
        <div>
          <p class="mt-0">
            I'm a software engineer who taught himself Ruby on Rails after
            finishing high school in 2013, and pursued a career in working as a
            software engineer. I've been using Ruby on Rails for nearly 10
            years, and React for over 4. Today, I specialize in Ruby on Rails
            and React/Typescript development.
          </p>
          <div class="mt-8 not-prose">
            <b>Links</b>
            <ul
              class="m-0 ml-0 list-disc p-0 pl-0 indent-0 [&_li]:m-0 [&_li]:p-0"
            >
              <li>
                <a href="https://github.com/aaronlifton">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/aaronlifton/">LinkedIn</a>
              </li>
              <li>Email: aaronlifton [at] gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </Prose>
  </div>
</Layout>
<style>
ul {
  @apply m-0 list-disc pl-4;
}
</style>
