---
import Layout from "$/layouts/Layout.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";
import HomeImage from "../components/HomeImage.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Prose from "$/components/Prose.astro";
import PostPreview from "../components/PostPreview.astro";
import PostPreviewList from "$/components/PostPreviewList.astro";
import PostPreviewListFooter from "$/components/PostPreviewListFooter.astro";
import SampleCode from "$/components/SampleCode.astro";
export const prerender = true;

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <div class="hero flex justify-center pb-vert-padding">
    <div class="hero__tagline flex justify-center">
      <Prose className="prose prose-base mb-3 dark:prose-invert lg:prose-base">
        A developer blog focusing on Ruby on Rails, React, AstroJS, and Neovim
        development.
      </Prose>
    </div>
  </div>
  <!-- <SampleCode filename="eslint-allow-underscore-prefix.mdx" /> -->
  <PostPreviewList posts={posts} heading="Recent posts" asCard />
  <!-- <PostPreviewList posts={posts} heading="Recent posts" /> -->
  <PostPreviewListFooter />
</Layout>
