---
import { SITE_DESCRIPTION } from "$/consts";
import Layout from "$/layouts/Layout.astro";
import { getPosts } from "$/services/blog";
import LatestCodeList from "$components/LatestCodeList.astro";
import PostPreviewList from "$components/PostPreviewList.astro";
import PostPreviewListFooter from "$components/PostPreviewListFooter.astro";
import Prose from "$components/Prose.astro";

export const prerender = true;

const posts = await getPosts();
const featuredPosts = await getPosts({ featured: true });
---

<Layout
  seo={{
    extend: {
      link: [
        {
          rel: "alternate",
          type: "application/rss+xml",
          href: "/posts/index.xml",
        },
      ],
    },
  }}
>
  <!-- <div class="flex justify-center hero pb-vert-padding"> -->
  <!--   <div class="flex justify-center hero__tagline"> -->
  <!--     <Prose className="mb-3 text-center prose prose-base lg:prose-base"> -->
  <!--       {SITE_DESCRIPTION} -->
  <!--     </Prose> -->
  <!--   </div> -->
  <!-- </div> -->
  <ul
    class="flex flex-col gap-0 p-4 bg-opacity-50 border-2 sm:flex-row sm:gap-6 mt-vert-padding mb-[calc(var(--vert-padding)*2)] border-card-border bg-card-bg scrollbar-thin scrollbar-track-card-bg portrait:hidden"
  >
    <LatestCodeList />
  </ul>

  <PostPreviewList posts={featuredPosts} heading="Featured posts" />
  <PostPreviewList posts={posts} heading="Recent posts" asCard />
  <PostPreviewListFooter />
</Layout>
