---
import Layout from "$/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Prose from "$components/Prose.astro";
import PostPreviewList from "$components/PostPreviewList.astro";
import PostPreviewListFooter from "$components/PostPreviewListFooter.astro";
import LatestCodeList from "$components/LatestCodeList.astro";

export const prerender = true;

let posts: CollectionEntry<"blog">[] = await getCollection("blog");
posts = Array.from(posts)
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <div class="hero flex justify-center pb-vert-padding">
    <div class="hero__tagline flex justify-center">
      <Prose className="prose prose-base mb-3 dark:prose-invert lg:prose-base">
        A developer blog focusing on Ruby on Rails, React, AstroJS, and Neovim
        development.
      </Prose>
    </div>
  </div>
  <div
    class="flex gap-6 rounded-lg border border-2 border-card-border bg-card-bg bg-opacity-50 p-4 scrollbar-thin scrollbar-track-card-bg dark:border-slate-300"
  >
    <LatestCodeList />
  </div>
  <PostPreviewList posts={posts} heading="Recent posts" asCard />
  <!-- <PostPreviewList posts={posts} heading="Recent posts" /> -->
  <PostPreviewListFooter />
</Layout>
