---
import { Icon } from "astro-icon/components";

interface Props {
  type: "Note" | "Tip" | "Warning";
  title?: string;
  icon?: string;
  isQuote?: boolean;
  date?: string;
}
const { type, icon: iconOverride, isQuote, date }: Props = Astro.props;
let title = Astro.props.title;
let icon: string | null = null;
if (!title) {
  if (type === "Note") {
    title = "Note";
    icon = iconOverride || "tabler/bulb-light";
  } else if (type === "Tip") {
    title = "Tip";
    icon = iconOverride || "tabler/bulb-light";
  } else {
    title = "Warning";
    icon = iconOverride || "tabler/bulb-light";
  }
}
---

<div class:list={["admonition", `admonition-${type}` ]}>
  {icon && <Icon name={icon} />}
  <h3 class="mb-0 leading-0">{title}</h3>
  {date && <span class="text-sm text-gray-500">{date}</span>}
  <div class="flex flex-row justify-between items-center [&_*]:m-0 [&_*]:p-0">
    {isQuote ? <blockquote><slot /></blockquote>  : <div class="message"><slot /></div>}
    <slot name="image" />
  </div>
</div>
<style type="text/css">
  .admonition {
    h3 {
      @apply mt-0 mb-0 pb-0;
    }
    blockquote, .message {
      @apply text-base text-black m-0;
    }
    img,p {
      @apply m-0;
    }

    @apply rounded-md border border-slate-200 p-4 shadow-admonition shadow-sm;

    > .admonition-title {
      @apply text-lg font-bold;
    }

    &.admonition-note,
    &.admonition-tip {
      @apply bg-amethyst-100/50 border-amethyst-400 text-gray-800;
    }

    &.admonition-subtle {
      @apply bg-yellow-100 text-yellow-700;
    }

    &.admonition-warning {
      @apply bg-red-100 text-red-700;
    }
  }
</style>
