---
import { IconZoomOut } from "@tabler/icons-react";
---

<div
  class="max-w-sm overflow-hidden rounded-lg border-card-border bg-card-bg text-[var(--primary)] shadow-lg"
>
  <div class="relative">
    <div
      class="flex flex-col-reverse bg-gray-900 h-48 w-full rounded-bl-none rounded-br-none object-cover"
      alt="Game Character"
    >
    <div class="mb-2 ml-6 text-xl text-white font-bold bg-none py-4">Resident Evil Village review</div>
      </div>
    <span
      class="absolute right-2 top-2 rounded-lg bg-amethyst-300 px-3 text-xs font-bold text-black"
    >
      OUTSTANDING
    </span>
  </div>
  <div class="px-6 pb-4">
  <div class="mb-2 text-md bg-card-bg py-4 text-[var(--primary)]">Description text here..</div>
    <p class="text-base text-[var(--primary)]">
      Resident Evil Village is a direct sequel to 2017's Resident Evil 7, but
      takes a very different direction to its predecessor, namely the fact that
      this time round instea...
    </p>
  </div>
  <div class="flex items-center px-6 pb-2 pt-4 bg-card-bg">
    <div class="text-sm">
      <p class="leading-none text-white">Aaron Lifton</p>
      <div class="mt-1 flex items-center">
        <IconZoomOut class="h-5 w-5" fill="currentColor" />
      </div>
    </div>
  </div>
</div>
