---
import { codeToHtml } from "$/lib/highlighter.ts";
import CopyToClipboard from "$components/react/CopyToClipboard.tsx";
import { FileIcon } from "lucide-react";
import { parse } from "node-html-parser";
import "astro/astro-jsx";
import { starryNightGutter } from "$/util/hast-util-starry-night-highlight";

interface Props {
	code?: string;
	lang?: string;
	header?: boolean;
	codeStyles?: string;
}

let { code, lang, header, codeStyles }: Props = Astro.props;

if (!code || !lang) {
	const html = await Astro.slots.render("default");
	const parsedHtml = parse(html);
	const languageIdDiv = parsedHtml.firstChild;
	lang = languageIdDiv?.textContent;
	if (!lang) throw new Error("Language is required");

	const codeContainer = parsedHtml.querySelector(
		".code-container",
	) as HTMLDivElement | null;
	if (!codeContainer?.firstChild)
		throw new Error("Astro code generation has changed. Check HTML.");

	const codeEl = codeContainer.firstChild;
	const children = Array.from(codeEl?.childNodes || []);
	code = children.map((n) => n.textContent).join("\n");
}
const highlightedCode = await codeToHtml(code, lang, [starryNightGutter]);

console.log({ code });
// const filteredCode = html;
// // const highlighters = await getShakuHighlighters(options);
// const highlightedHtml = codeToHtml(filteredCode, lang);
---

<div
	class:list={[
		"overflow-hidden rounded-lg",
		{ header: "border border-[#343434]" },
	]}
>
	{
		header && (
			<header class="flex h-10 flex-row items-center justify-between bg-[#212121] p-2">
				<FileIcon width={16} height={16} className="text-[#646464]" />
				<p class="font-mono ml-[5px] mr-auto translate-y-[1px] text-xs font-light leading-4 text-[#646464]">
					.{lang}
				</p>
				<CopyToClipboard {code} client:only="react" />
			</header>
		)
	}
	<section
		class:list={[
			"not-prose",
			{ header: "border-t border-[#343434]" },
			"[&>pre]:overflow-x-auto",
			"[&>pre]:m-0",
			"[&>pre]:rounded-none",
			"[&>pre]:px-4",
			"[&_code]:pl-4",
			"[&_code]:block",
			"[&_code]:w-full",
			"[&_code]:min-w-full",
			"[&_span.highlighted]:bg-[#343434]",
			"[&_div]:",
			"[&_div.highlighted]:bg-[#343434]",
			...(codeStyles || []),
		]}
	>
		<pre>
			<code set:html={highlightedCode} />
		</pre>
	</section>
</div>

<style>
	pre {
		/* @apply bg-[#2d333b] text-[#c5d1de]; */
		padding-block: var(--spacing-4);
		padding-inline: var(--spacing-4);
		overflow-x: hidden;
		overflow-y: hidden;
		font-size: 1rem;
		line-height: 1.5rem;
		border-radius: var(--spacing-2);
	}
</style>
