---
interface Props {}
const {} = Astro.props;
---

<div
  class="space-y-8 md:col-span-4"
  style="opacity: 1; transform: translateY(20px) translateZ(0px);"
>
  <div
    class="bg-background relative col-span-4 grid grid-cols-4 gap-8 overflow-hidden rounded-xl border border-pink-100 px-8 pb-14 pt-8 text-left dark:border-pink-200"
    style="box-shadow: rgba(132, 59, 206, 0.15) 0px 4px 24px;"
  >
    <div class="col-span-3">
      <p class="text-h5 mb-4 font-semibold text-pink-700">99.95%+ Uptime</p><p
        class="text-sm text-gray-600"
      >
        Applications stay on the grid with high availability and high uptime.
      </p>
    </div><div
      class="absolute -bottom-8 -right-8 flex h-32 w-32 items-center justify-center"
    >
      <svg
        width="128"
        height="128"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute inset-0 z-0"
        style="transform: rotate(180deg);"
        ><path
          d="M73 6C73 3.23858 75.2386 1 78 1L122 1C124.761 1 127 3.23858 127 6V34C127 36.7614 124.761 39 122 39H78C75.2386 39 73 36.7614 73 34V6Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path><path
          d="M73 78C73 75.2386 75.2386 73 78 73H122C124.761 73 127 75.2386 127 78V122C127 124.761 124.761 127 122 127H78C75.2386 127 73 124.761 73 122V78Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path><path
          d="M1 6C1 3.23858 3.23858 1 6 1L50 1C52.7614 1 55 3.23858 55 6V50C55 52.7614 52.7614 55 50 55H6C3.23858 55 1 52.7614 1 50L1 6Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path><path
          d="M1 94C1 91.2386 3.23858 89 6 89H50C52.7614 89 55 91.2386 55 94V122C55 124.761 52.7614 127 50 127H6C3.23858 127 1 124.761 1 122L1 94Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path></svg
      ><div
        class="bg-background z-10 flex h-24 w-24 items-center justify-center rounded-full border border-pink-300"
      >
        <div
          class="icon-container icon-md step-feature-card h-10 w-10 text-pink-500"
          aria-hidden="true"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-bar-chart-2"
            ><path d="M18 20V10m-6 10V4M6 20v-6"></path></svg
          >
        </div>
      </div>
    </div>
  </div><div
    class="bg-background relative col-span-4 grid grid-cols-4 gap-8 overflow-hidden rounded-xl border border-pink-100 px-8 pb-14 pt-8 text-left dark:border-pink-200"
    style="box-shadow: rgba(132, 59, 206, 0.15) 0px 4px 24px;"
  >
    <div class="col-span-3">
      <p class="text-h5 mb-4 font-semibold text-pink-700">
        Unrivaled Hospitality
      </p><p class="text-sm text-gray-600">
        Overcome any challenge with a team of engineers ready to help you
        succeed.
      </p>
    </div><div
      class="absolute -bottom-8 -right-8 flex h-32 w-32 items-center justify-center"
    >
      <svg
        width="128"
        height="128"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute inset-0 z-0"
        style="transform: rotate(270deg);"
        ><path
          d="M73 6C73 3.23858 75.2386 1 78 1L122 1C124.761 1 127 3.23858 127 6V34C127 36.7614 124.761 39 122 39H78C75.2386 39 73 36.7614 73 34V6Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path><path
          d="M73 78C73 75.2386 75.2386 73 78 73H122C124.761 73 127 75.2386 127 78V122C127 124.761 124.761 127 122 127H78C75.2386 127 73 124.761 73 122V78Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path><path
          d="M1 6C1 3.23858 3.23858 1 6 1L50 1C52.7614 1 55 3.23858 55 6V50C55 52.7614 52.7614 55 50 55H6C3.23858 55 1 52.7614 1 50L1 6Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path><path
          d="M1 94C1 91.2386 3.23858 89 6 89H50C52.7614 89 55 91.2386 55 94V122C55 124.761 52.7614 127 50 127H6C3.23858 127 1 124.761 1 122L1 94Z"
          stroke="var(--pink-100)"
          stroke-width="2"></path></svg
      ><div
        class="bg-background z-10 flex h-24 w-24 items-center justify-center rounded-full border border-pink-300"
      >
        <div
          class="icon-container icon-md step-feature-card h-10 w-10 text-pink-500"
          aria-hidden="true"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-life-buoy"
            ><circle cx="12" cy="12" r="10"></circle><circle
              cx="12"
              cy="12"
              r="4"></circle><path
              d="m4.93 4.93 4.24 4.24m5.66 5.66 4.24 4.24m-4.24-9.9 4.24-4.24m-4.24 4.24 3.53-3.53M4.93 19.07l4.24-4.24"
            ></path></svg
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="mt-24 grid grid-cols-1 gap-8 pb-36 md:grid-cols-10 md:px-0 lg:px-24"
>
  <div
    class="space-y-8 md:col-span-4"
    style="opacity: 1; transform: translateY(20px) translateZ(0px);"
  >
    <div
      class="bg-background relative grid grid-cols-4 gap-8 overflow-hidden rounded-xl border border-blue-100 px-8 pb-14 pt-8 text-left dark:border-blue-200"
      style="box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;"
    >
      <div class="col-span-3">
        <p class="text-h5 mb-4 font-semibold text-blue-700">
          All Code Welcome
        </p><p class="text-sm text-gray-600">
          From Ada to Zig, start by deploying a repo, an image, or a template.
        </p>
      </div><div
        class="absolute -bottom-8 -right-8 flex h-32 w-32 items-center justify-center"
      >
        <svg
          width="128"
          height="128"
          viewBox="0 0 128 128"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 z-0"
          style="transform: rotate(0deg);"
          ><path
            d="M73 6C73 3.23858 75.2386 1 78 1L122 1C124.761 1 127 3.23858 127 6V34C127 36.7614 124.761 39 122 39H78C75.2386 39 73 36.7614 73 34V6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M73 78C73 75.2386 75.2386 73 78 73H122C124.761 73 127 75.2386 127 78V122C127 124.761 124.761 127 122 127H78C75.2386 127 73 124.761 73 122V78Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 6C1 3.23858 3.23858 1 6 1L50 1C52.7614 1 55 3.23858 55 6V50C55 52.7614 52.7614 55 50 55H6C3.23858 55 1 52.7614 1 50L1 6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 94C1 91.2386 3.23858 89 6 89H50C52.7614 89 55 91.2386 55 94V122C55 124.761 52.7614 127 50 127H6C3.23858 127 1 124.761 1 122L1 94Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path></svg
        ><div
          class="bg-background z-10 flex h-24 w-24 items-center justify-center rounded-full border border-blue-300"
        >
          <div
            class="icon-container icon-md step-feature-card h-10 w-10 text-blue-500"
            aria-hidden="true"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-zap"
              ><path d="M13 2 3 14h9l-1 8 10-12h-9l1-8z"></path></svg
            >
          </div>
        </div>
      </div>
    </div><div
      class="bg-background relative grid grid-cols-4 gap-8 overflow-hidden rounded-xl border border-blue-100 px-8 pb-14 pt-8 text-left dark:border-blue-200"
      style="box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;"
    >
      <div class="col-span-3">
        <p class="text-h5 mb-4 font-semibold text-blue-700">
          Fast(er) Builds
        </p><p class="text-sm text-gray-600">
          Code builds 3x faster on Railway than on other platforms via Nixpacks.
        </p>
      </div><div
        class="absolute -bottom-8 -right-8 flex h-32 w-32 items-center justify-center"
      >
        <svg
          width="128"
          height="128"
          viewBox="0 0 128 128"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 z-0"
          style="transform: rotate(270deg);"
          ><path
            d="M73 6C73 3.23858 75.2386 1 78 1L122 1C124.761 1 127 3.23858 127 6V34C127 36.7614 124.761 39 122 39H78C75.2386 39 73 36.7614 73 34V6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M73 78C73 75.2386 75.2386 73 78 73H122C124.761 73 127 75.2386 127 78V122C127 124.761 124.761 127 122 127H78C75.2386 127 73 124.761 73 122V78Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 6C1 3.23858 3.23858 1 6 1L50 1C52.7614 1 55 3.23858 55 6V50C55 52.7614 52.7614 55 50 55H6C3.23858 55 1 52.7614 1 50L1 6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 94C1 91.2386 3.23858 89 6 89H50C52.7614 89 55 91.2386 55 94V122C55 124.761 52.7614 127 50 127H6C3.23858 127 1 124.761 1 122L1 94Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path></svg
        ><div
          class="bg-background z-10 flex h-24 w-24 items-center justify-center rounded-full border border-blue-300"
        >
          <div
            class="icon-container icon-md step-feature-card h-10 w-10 text-blue-500"
            aria-hidden="true"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-grid"
              ><path d="M3 3h7v7H3zm11 0h7v7h-7zm0 11h7v7h-7zM3 14h7v7H3z"
              ></path></svg
            >
          </div>
        </div>
      </div>
    </div>
  </div><div class="relative col-span-2 hidden md:block">
    <div
      class="mx-auto -mt-12 h-[140%] w-4"
      style="background:var(--blue-track)"
    >
    </div><img
      class="absolute bottom-0 top-0 w-6"
      src="/illustrations/trains/01-train-dark.svg"
      alt=""
      style="left: 50%; transform: translateX(-50%) translateY(207.071px) translateZ(0px);"
    />
  </div><div
    class="space-y-8 md:col-span-4"
    style="opacity: 1; transform: translateY(20px) translateZ(0px);"
  >
    <div
      class="bg-background relative grid grid-cols-4 gap-8 overflow-hidden rounded-xl border border-blue-100 px-8 pb-14 pt-8 text-left dark:border-blue-200"
      style="box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;"
    >
      <div class="col-span-3">
        <p class="text-h5 mb-4 font-semibold text-blue-700">
          Automagic Services
        </p><p class="text-sm text-gray-600">
          Push to a repo to trigger a build and deploy to a live URL in seconds.
          Say goodbye to CI.
        </p>
      </div><div
        class="absolute -bottom-8 -right-8 flex h-32 w-32 items-center justify-center"
      >
        <svg
          width="128"
          height="128"
          viewBox="0 0 128 128"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 z-0"
          style="transform: rotate(90deg);"
          ><path
            d="M73 6C73 3.23858 75.2386 1 78 1L122 1C124.761 1 127 3.23858 127 6V34C127 36.7614 124.761 39 122 39H78C75.2386 39 73 36.7614 73 34V6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M73 78C73 75.2386 75.2386 73 78 73H122C124.761 73 127 75.2386 127 78V122C127 124.761 124.761 127 122 127H78C75.2386 127 73 124.761 73 122V78Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 6C1 3.23858 3.23858 1 6 1L50 1C52.7614 1 55 3.23858 55 6V50C55 52.7614 52.7614 55 50 55H6C3.23858 55 1 52.7614 1 50L1 6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 94C1 91.2386 3.23858 89 6 89H50C52.7614 89 55 91.2386 55 94V122C55 124.761 52.7614 127 50 127H6C3.23858 127 1 124.761 1 122L1 94Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path></svg
        ><div
          class="bg-background z-10 flex h-24 w-24 items-center justify-center rounded-full border border-blue-300"
        >
          <div
            class="icon-container icon-md step-feature-card h-10 w-10 text-blue-500"
            aria-hidden="true"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-terminal"
              ><path d="m4 17 6-6-6-6m8 14h8"></path></svg
            >
          </div>
        </div>
      </div>
    </div><div
      class="bg-background relative grid grid-cols-4 gap-8 overflow-hidden rounded-xl border border-blue-100 px-8 pb-14 pt-8 text-left dark:border-blue-200"
      style="box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;"
    >
      <div class="col-span-3">
        <p class="text-h5 mb-4 font-semibold text-blue-700">Secrets Kept</p><p
          class="text-sm text-gray-600"
        >
          Railway services store secrets securely. Source them down to your
          terminal via the CLI.
        </p>
      </div><div
        class="absolute -bottom-8 -right-8 flex h-32 w-32 items-center justify-center"
      >
        <svg
          width="128"
          height="128"
          viewBox="0 0 128 128"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 z-0"
          style="transform: rotate(270deg);"
          ><path
            d="M73 6C73 3.23858 75.2386 1 78 1L122 1C124.761 1 127 3.23858 127 6V34C127 36.7614 124.761 39 122 39H78C75.2386 39 73 36.7614 73 34V6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M73 78C73 75.2386 75.2386 73 78 73H122C124.761 73 127 75.2386 127 78V122C127 124.761 124.761 127 122 127H78C75.2386 127 73 124.761 73 122V78Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 6C1 3.23858 3.23858 1 6 1L50 1C52.7614 1 55 3.23858 55 6V50C55 52.7614 52.7614 55 50 55H6C3.23858 55 1 52.7614 1 50L1 6Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path><path
            d="M1 94C1 91.2386 3.23858 89 6 89H50C52.7614 89 55 91.2386 55 94V122C55 124.761 52.7614 127 50 127H6C3.23858 127 1 124.761 1 122L1 94Z"
            stroke="var(--blue-100)"
            stroke-width="2"></path></svg
        ><div
          class="bg-background z-10 flex h-24 w-24 items-center justify-center rounded-full border border-blue-300"
        >
          <div
            class="icon-container icon-md step-feature-card h-10 w-10 text-blue-500"
            aria-hidden="true"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-book"
              ><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path
                d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"
              ></path></svg
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
