---
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";
interface Props {
  text: string;
  iconName?: string;
  className?: string;
}

const { text, iconName, className, ...rest }: Props = Astro.props;
---

<a
  {...rest}
  class="[&_svg]:fill-theme-amethyst-100; align-middle text-sm text-gray-500
                text-theme-amethyst-800 no-underline underline-offset-4 hover:text-theme-amethyst-900 hover:no-underline
                [&:hover_svg]:bg-theme-amethyst-200 [&:hover_svg]:stroke-theme-amethyst-500 [&:hover_svg]:text-theme-amethyst-500
                [&_hover_span]:underline [&_span]:underline
                [&_svg]:bg-theme-amethyst-100"
>
  <span class="underline underline-offset-4">Back to top</span>
  <Icon name="tabler/chevron-up" class="inline-block" />
</a>
