---
import { getPosts } from "$/services/blog";
import type { CollectionEntry } from "astro:content";
import PostPreview from "./PostPreview.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  heading?: string;
  asCard?: boolean;
  noTransition?: boolean;
}

const { posts, heading, asCard = false, noTransition } = Astro.props;
// @ts-ignore
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

{heading && <h2>{heading}</h2>}
<!-- <hr /> -->
<section
  class={`post-preview__list lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 grid gap-4 bg-opacity-50 sm:gap-6`}
>
  {
    sortedPosts.map((post) => (
      <PostPreview post={post} asCard={asCard} noTransition={noTransition} />
    ))
  }
</section>

<style>
h2 {
  @apply mb-vert-padding text-2xl;
  margin-top: calc(var(--vert-padding) * 2);
}
</style>
