---

---

<div class="page__actions">
  <a
    id="all-posts-link"
    class="action__go-to-blog ink-h"
    href="/blog"
    title="All Posts"
  >All Posts &rarr;</a>
</div>

<style>
.page__actions {
  @apply flex justify-center md:justify-end py-6;
}
.action__go-to-blog {
  @apply py-4 hover:underline;
}
</style>
