---
import { iconForTag } from "$/util";
import { Icon } from "astro-icon/components";

interface Props {
  tags: string[];
}

const { tags }: Props = Astro.props;
---

<div class="flex justify-center mx-auto w-full max-w-xl font-sans tags center">
  {
    tags
    && tags.map((tag, idx) => (
      <span class="mr-4 sm:mr-1 tag line-clamp-1">
        <a href={`/tags/${tag}/1`}>
          {
            iconForTag(tag) && (
              <Icon
                name={iconForTag(tag)}
                class="fill-theme-primary stroke-primary"
              />
            )
          }
          <span class="hidden sm:inline">{tag}</span>
        </a>
        <span class="hidden sm:inline">{idx !== tags.length - 1 && ", "}</span>
      </span>
    ))
  }
</div>
<style>
.tags {
  @apply mb-0 mt-4;
  a svg {
    @apply fill-theme-primary stroke-primary text-primary;
    display: inline;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    transform: translate(0, -0.1ch);
  }
}
</style>
